.input-title{
  display: grid;
  font-size: 1rem;
}
.input-content{
  font-family: Poppins-Medium;
  font-size: 18px;
  font-weight: 700;
  color: #666;
  background: #e6e6e6;
  border-radius: 10px;
  padding-left: 0.5rem;
}
.input-container{
  display: grid;
  margin: 0.3rem;
}
