.btn {
  font-size: 18px;
  font-weight: 700;
  color: #E18F0D;
  background: #603079;
  border: none;
  cursor:pointer;
}
.btn:hover, .btn:focus, .active {
  background: #440B5A;

}

.btn:disabled {
  background-color: #2a0d5a;
}
