.divsimbolo{
    margin-top: 10%;
    width: 100%;
    align-items: center;
}
.carregando{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: ;
}
.simboloca{
    width: 20%;
    align-items: center;
    position: absolute;

  }

.simbolocafundoca{
    animation: is-rotating 3s infinite;
    width: 20%;
    align-items: center;
    position: relative;
}

@keyframes is-rotating {
    to {
      transform: rotate(1turn);
    }
  }



