*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins-Bold;
}
input {
    outline: none;
    border: none;
}
.appContainer{  
    width: 100%;
    text-align: center;
    justify-content: center;
}