.container{  
    display: grid;
    width: 100%;
    text-align: center;
    justify-content: center;
    position: relative;
}

.container::after{
    content: "";
    background: url('./rest/restauranteLogo.png');
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
}

.article{
    width: 915px;
    height: auto;
}